[submodule "economy-bot"]
	path = economy-bot
	url = https://github.com/HypoxiE/krekbot-economy.git
	
[submodule "moderation-bot"]
	path = moderation-bot
	url = https://github.com/HypoxiE/krekbot-moderation.git
